  <% user ||= current_user %>
    <tr>
     <th>follows</th>
     <th>
      <a href="<%= following_user_path(user)%>">
      <strong id="following" class="stat">
       <%= user.following.count%>
      </strong>
      </a>
     </th>
    </tr>
    <tr>
     <th>followers</th>
     <th>
      <a href="<%= followers_user_path(user)%>">
      <strong id="followers" class="stat">
       <%= user.followers.count%>
      </strong>
      </a>
     </th>
    </tr>